# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.venv/
venv/
ENV/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Outputs
results/
!results/.gitkeep
# ignore all results
results/**

# but keep samples
!results/
!results/samples/
!results/samples/**

# Logs
*.log

# Local config (if you add one later)
.env
